/*  Welcome to the style stuff */
/* General rules */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
i{
    color: whitesmoke;
}
.container{
    display: flex;
}
.button{
    padding: 5px;
    background-color: grey;
}

img{
    width: 100%;
}

/*     Header rules */
.t-header{
    background-color: black;
    justify-content: flex-end;
    align-items: flex-start;
    height: 70px;
    width: 100%;

}
.t-header .button{
    color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
}
.t-header i{
    color: white;

}

.t-header .container i{
    align-self: center;
    margin-right: 3px;    
}

/* main rules */
main{
    height: calc(100vh - 70px - 80px);
    overflow:scroll;
    overflow-x: hidden;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5px 10px;
}

.picture{
    position: relative;
    margin: 10px;
}

.username{
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: rgba(34, 34, 34, 9);
    padding: 5px;
    color: white;
}

/* footer rules */
.bottom{
    background-color: #222222;
    height: 80px;
    width: 100%;
    justify-content: space-between;

    color: whitesmoke;
    

}


.f-left{
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    
}

.icon-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.icon-container:hover{
    color: green;
    
}

.icon-container:hover i{
    color: green;
    
}
.f-mid{
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.f-right{
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.meeting{
    background-color: grey;
    color: red;
    height: 100%;
    padding: 0 10px;
}