/*  Welcome to the style stuff */
/* General rules */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
i{
    color: whitesmoke;
}
.container{
    display: flex;
}
.button{
    padding: 5px;
    background-color: grey;
}

img{
    width: 100%;

}

/*     Header rules */
.t-header{
    background-color: black;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
    width: 100%;

}
.t-header .button{
    color: whitesmoke;
    margin: 5px;
    border-radius: 5px;
}
.t-header i{
    color: white;

}

.t-header .container i{
    align-self: center;
    margin-right: 3px;    
}

/* main rules */
main{
    height: 75vh;
    overflow:scroll;
    overflow-x: hidden;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: black;
    padding: 5px 10px;
}

.picture{
    position: relative;
}

.username{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(red, green, blue, alpha);
    padding: 3px;
}

/* footer rules */
.bottom{
    background-color: grey;
    height: 15vh;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    font-size: smaller;
    color: whitesmoke;
    padding-top: 20px;

}


.f-left{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
